body{
  background-color: antiquewhite;
}
.nav-bar{
  background-color: aqua;
  width: 100%;
}

h1{
  color: antiquewhite;
  font-family: cursive;
  text-shadow: 2px 2px black;
}

.header-row{
  height: 12%;
  min-height: 80px;
  background-color: rgb(211, 115, 60);
  background-image: url("../images/orangeLeaf.png")

}

#details-content{
  font-family: cursive;
  font-size: 2vw;
  color: rgb(78, 78, 216);
  text-align: center;
}

.leaf-image{
  z-index: 5;
  height: 4%;
  width: auto;
}
.verse{
  font-style: italic;
}
.leaf-image:hover{
  cursor: pointer;
}
form div{
  margin-right: 10px;
}

a{
  text-decoration: none;
  color: rgb(240,240,240);
  font-size: 150%;
}

#tree{
  border: 10px solid rgb(211, 171, 60);
  z-index: 1;
}

#yellow-leaf{
  z-index: 2;
  position: absolute;

}

.main-row{
  height: 80%;
}

#add-leaf{
  height: 30px;
}

.details{
  height: 50vh;
  width: 40vw;
  background-image: url("../images/yellowLeaf.png");
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: absolute;
  top: 17vh;
  left: 30vw;
  color: white;
}

.about{
  color: rgb(190, 100, 30);
  font-size: 150%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

input{
  height: 30px;
}



.leaf-background{
  background-image: url("../images/orangeLeaf.png");
}
.all-leaves-container{
  height: 70%;
  width: 65%;
  overflow: scroll;
  border: 10px solid rgb(211, 171, 60);
}
.user-select{
  padding: 20px;
  height: 3vh;
}
.selectedLeaf{
  
    height: 90%;
    width: 50%;
    padding: 10px;
    margin: 10px;
    background-image: url("../images/yellowLeaf.png");
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-size: 2vw;
    color: rgb(78, 78, 216);
    text-align: center;
    word-break: normal;
  
}

.dropdown-row{
  height: 10vw;
}